[Unit]
Description=Periodic pacman/AUR update check

[Timer]
OnStartupSec=2min
OnUnitActiveSec=1h
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
